{% load static %} {% comment %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Face Detection</title>
  </head>
  <body>
    <h1>Live Face Detection</h1>
    <img
      src="{% get_media_prefix %}home.png"
      alt="Home Icon"
      class="home-img"
      onclick="window.location.href='{% url 'home' %}'"
      style="width: 50px; height: 50px; object-fit: cover; border-radius: 20px"
    />
    <img src="{% url 'face_detect_stream' %}" width="640" height="480" />
    <button onclick="stopWebcam()">Stop Webcam</button>

    <script>
      function stopWebcam() {
        fetch("{% url 'stop_webcam' %}")
          .then((response) => response.json())
          .then((data) => {
            if (data.status === "stopped") {
              document.getElementById("video-feed").src = "";
              alert("Webcam Stopped!");
            }
          });
      }
    </script>
  </body>
</html>
{% endcomment %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Face Detection</title>
  </head>
  <body>
    <h1>Live Face Detection</h1>
    <img
      id="videoFeed"
      src="{% url 'face_detect_stream' %}"
      width="640"
      height="480"
    />

    <br />
    <button onclick="stopWebcam()">Stop Webcam</button>

    <script>
      function stopWebcam() {
        fetch("{% url 'stop_face_detection' %}")
          .then((response) => response.json())
          .then((data) => {
            console.log("Webcam Stopped:", data.status);
            document.getElementById("videoFeed").src = ""; // Clear the video feed
          });
      }
    </script>
  </body>
</html>
